<div *ngIf="!isLoading" class="tw-flex tw-flex-1 tw-w-full tw-pt-36 tw-pb-16">
    <app-container class="tw-w-full">
        <div class="tw-flex tw-flex-col tw-justify-center tw-w-full">
            <div class="
                tw-rounded-tl-[80px] 
                tw-rounded-tr-[30px] 
                tw-rounded-br-[80px] 
                tw-rounded-bl-[50px] 
                tw-ml-auto 
                tw-bg-rose-700 
                tw-h-[400px] 
                tw-max-h-[400px] 
                max-xl:tw-h-auto
                max-md:tw-min-h-[220px]
                tw-w-full
                tw-overflow-clip">
                <img class="
                    tw-h-full 
                    tw-w-full 
                    tw-object-cover 
                    tw-object-top 
                    tw-origin-center
                    tw-drop-shadow-lg" [src]="category()?.billboard!.image.url" alt="hero_img">
            </div>
            <div class="tw-flex tw-w-full tw-gap-12 tw-mt-20 tw-relative tw-min-h-[500px] max-md:tw-flex-col">
                <app-product-filters [categoryProducts]="categoryProducts" [category]="category"
                    [isLoadingProducts]="isLoadingProducts">
                </app-product-filters>
                <div *ngIf="!isLoadingProducts()"
                    class="tw-grid tw-grid-cols-[repeat(auto-fill,minmax(250px,1fr))] tw-gap-3 tw-w-full">
                    <app-product-card *ngFor="let categoryProduct of categoryProducts()" [product]="categoryProduct">
                    </app-product-card>
                </div>
                <ngx-skeleton-loader *ngIf="isLoadingProducts()" class="flex tw-w-full" appearance="custom-content">
                    <div class="tw-grid tw-grid-cols-[repeat(auto-fill,minmax(250px,1fr))] tw-gap-3">
                        <div class="tw-relative tw-w-full tw-mx-auto">
                            <div class="tw-w-full tw-max-w-xs tw-mx-auto tw-rounded-lg tw-aspect-square tw-bg-black/10">
                            </div>
                        </div>
                        <div class="tw-relative tw-w-full tw-mx-auto">
                            <div class="tw-w-full tw-max-w-xs tw-mx-auto tw-rounded-lg tw-aspect-square tw-bg-black/10">
                            </div>
                        </div>
                        <div class="tw-relative tw-w-full tw-mx-auto">
                            <div class="tw-w-full tw-max-w-xs tw-mx-auto tw-rounded-lg tw-aspect-square tw-bg-black/10">
                            </div>
                        </div>
                    </div>
                </ngx-skeleton-loader>
            </div>
        </div>
    </app-container>
</div>

<section *ngIf="isLoading" class="tw-w-full tw-h-[calc(100vh-80px)] tw-flex tw-items-center tw-justify-center">
    <app-loading></app-loading>
</section>