<div *ngIf="!isLoading" class="tw-flex tw-flex-1 tw-w-full tw-pt-36 tw-pb-16">
    <app-container class="tw-w-full">
        <div class="tw-flex tw-flex-col tw-justify-center tw-w-full">
            <div class="
                tw-rounded-tl-[80px] 
                tw-rounded-tr-[30px] 
                tw-rounded-br-[80px] 
                tw-rounded-bl-[50px] 
                tw-ml-auto 
                tw-bg-rose-700 
                tw-h-[400px] 
                tw-w-full
                tw-overflow-clip">
                <img class="
                    tw-h-full 
                    tw-w-full 
                    tw-object-cover 
                    tw-object-top 
                    tw-origin-center
                    tw-drop-shadow-lg" [src]="category?.billboard!.image.url" alt="hero_img">
            </div>
            <div class="tw-flex tw-w-full tw-gap-12 tw-mt-20 tw-relative">
                <app-product-filters></app-product-filters>
                <div class="tw-grid tw-grid-cols-[repeat(auto-fill,minmax(260px,1fr))] tw-gap-5">
                    <app-product-card *ngFor="let categoryProduct of categoryProducts()" [product]="categoryProduct">
                    </app-product-card>
                </div>
            </div>
        </div>
    </app-container>
</div>

<section *ngIf="isLoading" class="tw-w-full tw-h-[calc(100vh-80px)] tw-flex tw-items-center tw-justify-center">
    <app-loading></app-loading>
</section>