<div class="tw-flex tw-flex-1 tw-h-screen tw-w-full tw-pt-36 tw-pb-16 tw-bg-red-100">
    <app-container class="tw-w-full">
        <div class="tw-w-full tw-flex">
            <div class="tw-flex tw-flex-col tw-w-3/6 tw-gap-4 tw-pr-16">
                <h1 class="tw-text-6xl tw-w-full tw-font-bold tw-leading-tight tw-text-red-900">
                    Discover and Find Your Own Fashion!
                </h1>
                <p class="tw-text-lg tw-text-red-950">
                    Explore our curated collection of stylish clothing and accessories tailored to your unique taste.
                </p>
                <button class="
                        tw-bg-red-900 
                        tw-uppercase 
                        tw-w-fit 
                        tw-shadow-lg 
                        tw-rounded-lg
                        tw-text-white 
                        tw-py-3 
                        tw-px-8 
                        tw-mt-7 
                        hover:tw-bg-red-950 
                        tw-transition 
                        tw-duration-200 
                        active:tw-scale-95">
                    Explore now
                </button>
            </div>
            <div class="tw-flex tw-justify-center tw-w-3/6 tw-items-end">
                <div class="
                    tw-rounded-tl-[80px] 
                    tw-rounded-tr-[30px] 
                    tw-rounded-br-[80px] 
                    tw-rounded-bl-[50px] 
                    tw-ml-auto 
                    tw-bg-rose-700 
                    tw-h-[500px] 
                    tw-w-4/5
                    tw-overflow-clip">
                    <img class="
                        tw-h-full 
                        tw-w-full 
                        tw-object-cover 
                        tw-object-bottom 
                        tw-transition 
                        tw-duration-500 
                        hover:tw-scale-105
                        tw-origin-bottom
                        trans
                        tw-drop-shadow-lg" src="../../../../assets/images/2.jpg" alt="hero_img">
                </div>
            </div>
        </div>
    </app-container>
</div>