<section class="tw-flex tw-flex-col tw-justify-center tw-items-center">
    <div class="tw-mt-32 tw-mb-8">
        <app-logo scaleSize="tw-scale-[2.5]"></app-logo>
    </div>
    <h1 class="tw-font-bold tw-text-7xl tw-mt-8">Page not found</h1>
    <p class="tw-my-11 tw-text-lg tw-max-w-md tw-text-center">The page you are looking for does not exist or has been deleted.</p>
    <button class="
        tw-bg-slate-900
        tw-text-white 
        tw-px-8 
        tw-py-4 
        tw-rounded-lg 
        tw-min-w-0
        hover:tw-bg-rose-900
        tw-transition-all 
        tw-duration-300
        tw-font-roboto-slab
        active:tw-scale-95
        " routerLink="/">Go back</button>
</section>