<div class="tw-flex tw-flex-1 tw-w-full tw-pt-36 tw-pb-16">
    <app-container class="tw-w-full">
        <div class="tw-flex tw-flex-col tw-justify-center tw-w-full">
            <div class="
                tw-rounded-3xl
                tw-ml-auto 
                tw-bg-rose-700 
                tw-h-[400px] 
                tw-w-full
                tw-overflow-clip">
                <img class="
                    tw-h-full 
                    tw-w-full 
                    tw-object-cover 
                    tw-object-top 
                    tw-origin-center
                    tw-drop-shadow-lg" src="../../../../assets/images/banner.jpg" alt="hero_img">
            </div>
            <div class="tw-flex tw-flex-col tw-w-full tw-gap-12 tw-mt-20 tw-relative">
                <app-best-selling></app-best-selling>
                <app-stores></app-stores>
            </div>
        </div>
    </app-container>
</div>