<div class="tw-flex tw-items-center tw-gap-4">

    <div class="
        tw-flex 
        tw-items-center 
        tw-justify-center 
        tw-px-1 
        tw-py-1 
        tw-h-[52px] 
        tw-border-2 
        tw-rounded-xl
        tw-border-[rgb(212,212,212)]
        focus-within:tw-border-black">
        <input (colorPickerChange)="onChangeColor($event)" [value]="color" [(colorPicker)]="color"
            [style.background]="color" [(cpToggle)]="tooglePicker"
            class="tw-h-full tw-rounded-lg tw-px-4 !tw-border-none !tw-shadow-none !tw-outline-none">
    </div>

    <button type="button" (click)="tooglePicker=!tooglePicker" class="
        tw-flex 
        tw-justify-center 
        tw-items-center 
        tw-bg-black 
        tw-text-white
        tw-py-3
        tw-px-6
        tw-rounded-xl
        tw-transition-all
        tw-duration-200
        hover:tw-bg-opacity-80
        active:tw-scale-95">
        Select color
    </button>

</div>