<nav class="tw-w-full tw-h-16 tw-fixed tw-left-0 tw-top-0 tw-z-50 tw-transition tw-duration-200"
    [ngClass]="{'tw-border-b tw-bg-white': isScrolling || !transparentNavbar}">
    <app-container>
        <div class="tw-flex tw-h-16 tw-w-full tw-items-center tw-justify-between tw-gap-7">
            <app-logo></app-logo>
            <ul *ngIf="navLinks.length" class="tw-flex tw-flex-1 tw-gap-4 tw-justify-start tw-items-center">
                <app-navbar-link [label]="navLink.label" [route]="navLink.link" [isActive]="true"
                    *ngFor="let navLink of navLinks">
                </app-navbar-link>
                <!-- <app-navbar-link label="Jeans" route="category/jeans" [isActive]="false"></app-navbar-link>
                <app-navbar-link label="Skirts" route="category/skirt" [isActive]="false"></app-navbar-link>
                <app-navbar-link label="Shoes" route="category/shoes" [isActive]="false"></app-navbar-link> -->
            </ul>
            <ul class="tw-flex tw-gap-5 tw-justify-center tw-items-center">
                <app-bag-btn *ngIf="authService.isLoggedIn()"></app-bag-btn>
                <app-profile-btn *ngIf="authService.isLoggedIn()"
                    [user]="authService.getCurrentUser()!"></app-profile-btn>
                <button *ngIf="!authService.isLoggedIn()" class="
                    tw-w-max 
                    tw-flex 
                    tw-gap-2 
                    tw-items-center 
                    tw-justify-center 
                    tw-h-[38px] 
                    tw-px-4 
                    tw-bg-black
                    tw-text-white
                    tw-rounded-full
                    tw-transition
                    tw-duration-200
                    hover:tw-shadow-lg
                    hover:tw-opacity-80
                    active:tw-scale-95
                    " routerLink="/signin">
                    Log In
                </button>
            </ul>
        </div>
    </app-container>
</nav>