<app-container class="tw-w-full">
    <div class="tw-flex tw-flex-1 tw-flex-col tw-mb-12">
        <div class="tw-flex tw-flex-col tw-items-start tw-justify-center tw-w-full tw-gap-4 tw-pr-16">
            <h1 class="tw-text-3xl tw-w-full tw-font-bold tw-leading-tight tw-text-rose-600 tw-mb-3">
                Offers
            </h1>
        </div>
        <div class="tw-flex tw-w-full">
            <app-swiper [innerActions]="false" [showPagination]="false">
                <swiper-slide class="tw-max-w-[260px]" *ngFor="let bestSellingProduct of bestSellingProducts">
                    <app-product-card></app-product-card>
                </swiper-slide>
            </app-swiper>
        </div>
    </div>
</app-container>