<app-container class="tw-w-full">
    <div class="tw-flex tw-flex-1 tw-flex-col tw-mb-12 tw-w-full">
        <div class="tw-flex tw-w-full">
            <app-swiper [innerActions]="false" [showPagination]="false" label="Offers">
                <swiper-slide class="tw-max-w-[260px]" *ngFor="let bestSellingProduct of bestSellingProducts">
                    <app-product-card [product]="bestSellingProduct"></app-product-card>
                </swiper-slide>
            </app-swiper>
        </div>
    </div>
</app-container>