<section class="tw-flex tw-flex-col tw-flex-1 tw-w-full">
    <app-breadcrumb title="Colors (0)" subtitle="Manage colors for your products"></app-breadcrumb>
    <app-table searchFilterLabel="colors" activeSortLabel="Name" [getData]="getColorsObservable"
        [reloadDataEmitter]="colorsService.reloadDataEmitter" observableResponsePropertyname="colors"
        [formatDataFunction]="formatDataSource" [displayedColumns]="displayedColumns"
        emptyRegistersLabel="There are not colors"></app-table>
</section>