<section *ngIf="!isLoading && stores().length" class="tw-flex tw-flex-1 tw-flex-col tw-w-full">
    <app-navbar></app-navbar>

    <app-container>
        <div class="tw-mt-16 tw-pt-5 tw-flex tw-flex-1 tw-flex-col tw-w-full">
            <router-outlet></router-outlet>
        </div>
    </app-container>
</section>

<section *ngIf="!isLoading && !stores().length"
    class="tw-w-screen tw-h-screen tw-flex tw-items-center tw-justify-center">
    <app-stores-form [stores]="stores"></app-stores-form>
</section>

<section *ngIf="isLoading" class="tw-w-screen tw-h-screen tw-flex tw-items-center tw-justify-center">
    <app-loading></app-loading>
</section>