<div class="
        tw-flex 
        tw-flex-col 
        tw-w-full 
        tw-border-collapse 
        tw-rounded-xl 
        tw-cursor-pointer 
        tw-overflow-hidden 
        tw-p-3 
" [routerLink]="[product.id]">
    <div class="tw-relative tw-aspect-square tw-rounded-xl tw-bg-gray-100 tw-overflow-clip">
        <div class="tw-absolute tw-right-2 tw-top-2">
            <app-favorites-btn></app-favorites-btn>
        </div>
        <img class="tw-aspect-square tw-object-contain tw-rounded-md tw-w-full tw-h-full" [src]="product.images[0].url"
            alt="product_img" width="100" height="100">
    </div>
    <div class="tw-my-3 tw-flex tw-w-full tw-flex-col tw-gap-4">
        <div class="tw-flex tw-w-full tw-flex-col">
            <h3 class="tw-font-semibold tw-text-lg">{{product.name}}</h3>
            <p class="tw-text-sm tw-text-gray-500">{{product.category?.name}}</p>
        </div>
        <span class="tw-font-semibold">{{product.price | formatPrice}}</span>
    </div>
</div>