<section class="tw-flex tw-flex-col tw-flex-1 tw-w-ful">
    <app-breadcrumb [title]="'Billboards (' + billboardsLength() + ')'" subtitle="Manage billboards for your store"
        [actionButtonRef]="addButton">
    </app-breadcrumb>
    <app-table searchFilterLabel="billboards" activeSortLabel="Label" [getData]="getBillboardsObservable"
        [dataResults]="billboardsLength" [reloadDataEmitter]="billboardService.reloadDataEmitter"
        [formatDataFunction]="formatDataSource" [displayedColumns]="displayedColumns"
        emptyRegistersLabel="There are not billboards"></app-table>
    <div class="tw-w-full tw-my-5">
        <app-api-routes label="Billboards" entityName="billboards" entityIdName="billboardId">
        </app-api-routes>
    </div>
</section>

<ng-template #addButton>
    <button class="
        tw-flex 
        tw-items-center 
        tw-justify-center 
        tw-rounded-lg 
        tw-w-max
        tw-px-3
        tw-h-10 
        tw-text-white 
        tw-bg-black
        tw-transition-all
        tw-duration-200
        hover:tw-bg-opacity-80
        active:tw-scale-95
        " routerLink="new">
        <mat-icon class="tw-text-xl tw-leading-tight tw-font-light" fontIcon="add"></mat-icon>
        <span class="tw-text-sm tw-w-max">Add New</span>
    </button>
</ng-template>