<div class="tw-rounded-lg tw-border tw-text-gray-700 tw-shadow-sm tw-col-span-4 tw-h-96 tw-py-6">
    <div class="flex flex-1 tw-h-full tw-w-full">
        <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="single" [gradient]="gradient" [xAxis]="showXAxis"
            [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
            [roundEdges]="roundEdges" [barPadding]="barPadding" [noBarWhenZero]="noBarWhenZero"
            (select)="onSelect($event)" />
    </div>
</div>