<ng-template #profileMenuTrigger>
    <button class="
        tw-w-max 
        tw-flex 
        tw-gap-2 
        tw-items-center 
        tw-justify-center 
        tw-h-[38px] 
        tw-px-4 
        tw-border
        tw-border-gray-400
        tw-rounded-full
        tw-transition
        tw-duration-200
        hover:tw-shadow-lg
        hover:tw-opacity-80
        active:tw-scale-95
        " [ngClass]="{'tw-border-gray-200': isAdminView}">
        <mat-icon class="tw-text-xl tw-leading-tight" fontIcon="menu"></mat-icon>
        <img class="tw-rounded-full tw-aspect-square tw-w-[30px] tw-h-[30px]" [src]="user.image?.url | img"
            alt="profile_avatar" width="30" height="30">
    </button>
</ng-template>

<app-dropdown class="tw-flex tw-w-max tw-h-max" [menuTrigger]="profileMenuTrigger"
    [menuOptions]="getPerfilMenuOptions()" containerClasses="tw-w-40" [isPerfilMenu]="true"></app-dropdown>