<div class="
    tw-flex 
    tw-flex-1
    tw-items-start 
    tw-gap-2 
    tw-text-sm 
    tw-text-[#ff1b66]
    tw-animate-jump-in
    tw-bg-[#fff7f7]
    tw-border
    tw-border-[#ff1b66]
    tw-rounded-lg
    tw-border-l-[6px]
    tw-p-3
    ">
    <mat-icon class="tw-text-2xl tw-leading-none" fontIcon="error_outline"></mat-icon>
    <div class="tw-flex tw-flex-1 tw-flex-col tw-gap-1 tw-my-auto">
        <span class="tw-font-bold">{{label}}</span>
        <ng-content></ng-content>
    </div>
</div>