<div class="tw-flex tw-flex-1 tw-flex-col tw-gap-4">
    <div class="tw-grid tw-gap-4 tw-grid-cols-3">
        <div class="tw-rounded-lg tw-border tw-bg-card tw-shadow-sm">
            <div class="tw-p-6 tw-flex tw-flex-row tw-items-center tw-justify-between tw-space-y-0 tw-pb-2">
                <h3 class="tw-tracking-tight tw-text-sm tw-font-medium tw-text-gray-700">Total Revenue</h3>
                <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                    stroke-linejoin="round" class="tw-h-4 tw-w-4 tw-text-gray-500" height="1em" width="1em"
                    xmlns="http://www.w3.org/2000/svg">
                    <line x1="12" x2="12" y1="2" y2="22"></line>
                    <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                </svg>
            </div>
            <div class="tw-p-6 tw-pt-0">
                <div class="tw-text-2xl tw-font-semibold">$0.00</div>
            </div>
        </div>
        <div class="tw-rounded-lg tw-border tw-bg-card tw-shadow-sm">
            <div class="tw-p-6 tw-flex tw-flex-row tw-items-center tw-justify-between tw-space-y-0 tw-pb-2">
                <h3 class="tw-tracking-tight tw-text-sm tw-font-medium tw-text-gray-700">Sales</h3>
                <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                    stroke-linejoin="round" class="tw-h-4 tw-w-4 tw-text-gray-500" height="1em" width="1em"
                    xmlns="http://www.w3.org/2000/svg">
                    <rect width="20" height="14" x="2" y="5" rx="2"></rect>
                    <line x1="2" x2="22" y1="10" y2="10"></line>
                </svg>
            </div>
            <div class="tw-p-6 tw-pt-0">
                <div class="tw-text-2xl tw-font-semibold">+0</div>
            </div>
        </div>
        <div class="tw-rounded-lg tw-border tw-bg-card tw-shadow-sm">
            <div class="tw-p-6 tw-flex tw-flex-row tw-items-center tw-justify-between tw-space-y-0 tw-pb-2">
                <h3 class="tw-tracking-tight tw-text-sm tw-font-medium tw-text-gray-700">Products In Stock</h3>
                <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                    stroke-linejoin="round" class="tw-h-4 tw-w-4 tw-text-gray-500" height="1em" width="1em"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.5 9.4 7.55 4.24"></path>
                    <path
                        d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z">
                    </path>
                    <polyline points="3.29 7 12 12 20.71 7"></polyline>
                    <line x1="12" x2="12" y1="22" y2="12"></line>
                </svg>
            </div>
            <div class="tw-p-6 tw-pt-0">
                <div class="tw-text-2xl tw-font-semibold">{{productsInStock}}</div>
            </div>
        </div>
    </div>
</div>