<section class="tw-flex tw-flex-col tw-px-4">
    <div class="tw-mt-6 tw-mb-4 tw-flex tw-flex-col tw-flex-1">
        <ng-container [ngTemplateOutlet]="body"></ng-container>
        <ng-container [ngTemplateOutlet]="actions"></ng-container>
    </div>
</section>

<ng-template #body>
    <div class="tw-flex tw-flex-1 tw-flex-col ">
        <span>This action cannot be undone.</span>
    </div>
</ng-template>

<ng-template #actions>
    <div class="tw-flex tw-w-full tw-items-center tw-justify-end tw-gap-2 tw-mt-4">
        <button class="
                tw-rounded-lg 
                tw-bg-haizenBlue-400/10 
                tw-text-haizenBlue-950 
                tw-px-8 
                tw-py-2 
                active:tw-scale-95 
                tw-transition 
                tw-duration-200 
                tw-font-medium" (click)="handleClose()">
            Cancel
        </button>
        <div>
            <button class="
                tw-rounded-lg 
                tw-bg-rose-600
                tw-text-white 
                tw-px-8 
                tw-py-2 
                active:tw-scale-95 
                tw-transition 
                tw-duration-200
                tw-font-medium" (click)="handleClose(true)">
                Continue
            </button>
        </div>
    </div>
</ng-template>