<app-container class="tw-w-full">
    <div class="tw-flex tw-flex-1 tw-flex-col tw-mb-12">
        <div
            class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-text-center tw-w-full tw-gap-4 tw-pr-16 tw-my-20">
            <h1 class="tw-text-3xl tw-w-full tw-font-bold tw-leading-tight tw-text-red-900">
                Featured Products
            </h1>
            <p class="tw-text-lg tw-text-red-950">
                Get in on the trend with our curated selection of featured products.
            </p>
        </div>
        <div class="tw-grid tw-grid-cols-[repeat(auto-fill,minmax(260px,1fr))] tw-gap-5">
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
        </div>
    </div>
</app-container>