<section class="tw-flex tw-flex-col tw-flex-1 tw-w-full">
    <app-breadcrumb title="Store settings" subtitle="Manage store preferences"></app-breadcrumb>
    <form [formGroup]="form" action="" class="tw-flex tw-flex-col tw-gap-4">
        <div class="md:tw-grid md:tw-grid-cols-3 tw-gap-8 max-md:tw-space-y-5">
            <div class="tw-relative tw-w-full tw-space-y-2">
                <label class="
                    tw-font-medium
                    tw-text-sm
                    tw-left-4
                    tw-text-zinc-400" for="name">
                    Name
                </label>
                <input class="
                        tw-bg-background 
                        tw-border 
                        tw-border-slate-700 
                        focus-visible:tw-outline-none 
                        focus-visible:tw-ring-2 
                        focus-visible:tw-ring-offset-2 
                        focus-visible:tw-ring-ring 
                        tw-h-10 
                        placeholder:tw-text-muted-foreground 
                        tw-px-3 
                        tw-py-2 
                        tw-ring-offset-background 
                        tw-rounded-md 
                        tw-text-sm 
                        tw-w-full" placeholder="Store Name" name="name">
            </div>
            <div class="tw-relative tw-w-full tw-space-y-2">
                <label class="
                    tw-font-medium
                    tw-text-sm
                    tw-left-4
                    tw-text-rose-500" for="web">
                    Website
                </label>
                <input class="
                        tw-bg-background 
                        tw-border 
                        focus-visible:tw-outline-none 
                        focus-visible:tw-ring-2 
                        focus-visible:tw-ring-offset-2 
                        focus-visible:tw-ring-ring 
                        tw-h-10 
                        placeholder:tw-text-muted-foreground 
                        tw-px-3 
                        tw-py-2 
                        tw-ring-offset-background 
                        tw-rounded-md 
                        tw-text-sm 
                        tw-w-full 
                        tw-border-rose-600 
                        focus:tw-border-rose-500" placeholder="Store web" name="web">
            </div>
        </div>
        <button class="
            tw-inline-flex 
            tw-items-center 
            tw-justify-center 
            tw-rounded-md 
            tw-text-sm 
            tw-font-medium 
            tw-ring-offset-background 
            focus-visible:tw-outline-none 
            focus-visible:tw-ring-2 
            focus-visible:tw-ring-ring 
            focus-visible:tw-ring-offset-2 
            disabled:tw-pointer-events-none 
            disabled:tw-opacity-50 
            tw-bg-black 
            tw-text-white
            tw-transition-all
            tw-duration-200
            hover:tw-bg-black/80 
            active:tw-scale-95
            tw-h-10 
            tw-px-4 
            tw-py-2 
            tw-mr-auto">
            Save changes
        </button>
    </form>
    <div class="tw-w-full tw-my-5">
        <app-api-routes></app-api-routes>
    </div>
</section>