<section class="
    tw-flex
    tw-justify-center
    tw-items-center
    tw-w-screen 
    tw-h-screen 
    tw-bg-neutral-200">
    <form [formGroup]="form" class="
        tw-flex
        tw-flex-col 
        tw-gap-4
        tw-justify-start
        tw-items-center
        tw-rounded-xl 
        tw-bg-white
        tw-w-full
        tw-max-w-[800px]
        tw-px-5
        tw-py-8
        tw-border
        tw-border-haizenBlue-300/50
        tw-transition
        tw-duration-200
        ">
        <div class="tw-h-20 tw-w-auto tw-pointer-events-none">
            <app-logo scaleSize="tw-scale-[2.5]"></app-logo>
        </div>
        <h3 class="tw-flex tw-flex-col tw-gap-1 text-2xl font-roboto-slab text-pastel-blue tw-text-center">
            <strong class="tw-text-2xl">Create your first store</strong>
            <span class="text-cyan-200">Add a new store to manage products and categories.</span>
        </h3>
        <div class="tw-flex tw-flex-col tw-items-center tw-gap-7 tw-mt-3 tw-w-full tw-max-w-[700px]">

            <app-input class="tw-w-full" [formGroupRef]="form" formControlName="name" ngDefaultControl id="storeName"
                label="E-Commerce Name" type="text" [autofocus]="true"></app-input>

            <app-button class="tw-w-full" label="Create" type="submit"
                customClasses="!tw-bg-black !tw-text-white disabled:tw-opacity-100"
                (click)="!isLoading && handleSubmit()"></app-button>

        </div>
    </form>
</section>