<div class="tw-rounded-lg tw-border tw-text-gray-700 tw-shadow-sm tw-col-span-4">
    <div class="tw-flex tw-flex-col tw-space-y-1.5 tw-p-6">
        <h3 class="tw-text-2xl tw-font-semibold tw-leading-none tw-tracking-tight">Overview</h3>
    </div>
    <div class="tw-p-6 tw-pt-0 tw-pl-2">
        <div class="recharts-responsive-container" style="width: 100%; height: 350px; min-width: 0px;" width="700"
            height="350">
            <div class="recharts-wrapper tw-h-full tw-w-full tw-cursor-default tw-relative" role="region">
                <svg class="recharts-surface tw-w-full" width="700" height="350" viewBox="0 0 1171 350">
                    <title></title>
                    <desc></desc>
                    <defs>
                        <clipPath id="recharts4-clip tw-w-full">
                            <rect x="65" y="5" height="310" width="700"></rect>
                        </clipPath>
                    </defs>
                    <g class="recharts-layer recharts-cartesian-axis recharts-xAxis xAxis">
                        <g class="recharts-cartesian-axis-ticks">
                            <g class="recharts-layer recharts-cartesian-axis-tick">
                                <text stroke="none" font-size="12" orientation="bottom" width="700" height="30"
                                    x="110.875" y="323" fill="#888888"
                                    class="recharts-text recharts-cartesian-axis-tick-value tw-w-full" text-anchor="middle">
                                    <tspan x="110.875" dy="0.71em">Jan</tspan>
                                </text>
                            </g>
                            <g class="recharts-layer recharts-cartesian-axis-tick">
                                <text stroke="none" font-size="12" orientation="bottom" width="700" height="30"
                                    x="202.625" y="323" fill="#888888"
                                    class="recharts-text recharts-cartesian-axis-tick-value tw-w-full" text-anchor="middle">
                                    <tspan x="202.625" dy="0.71em">Feb</tspan>
                                </text>
                            </g>
                            <g class="recharts-layer recharts-cartesian-axis-tick">
                                <text stroke="none" font-size="12" orientation="bottom" width="700" height="30"
                                    x="294.375" y="323" fill="#888888"
                                    class="recharts-text recharts-cartesian-axis-tick-value tw-w-full" text-anchor="middle">
                                    <tspan x="294.375" dy="0.71em">Mar</tspan>
                                </text>
                            </g>
                            <g class="recharts-layer recharts-cartesian-axis-tick">
                                <text stroke="none" font-size="12" orientation="bottom" width="700" height="30"
                                    x="386.125" y="323" fill="#888888"
                                    class="recharts-text recharts-cartesian-axis-tick-value tw-w-full" text-anchor="middle">
                                    <tspan x="386.125" dy="0.71em">Apr</tspan>
                                </text>
                            </g>
                            <g class="recharts-layer recharts-cartesian-axis-tick">
                                <text stroke="none" font-size="12" orientation="bottom" width="700" height="30"
                                    x="477.875" y="323" fill="#888888"
                                    class="recharts-text recharts-cartesian-axis-tick-value tw-w-full" text-anchor="middle">
                                    <tspan x="477.875" dy="0.71em">May</tspan>
                                </text>
                            </g>
                            <g class="recharts-layer recharts-cartesian-axis-tick">
                                <text stroke="none" font-size="12" orientation="bottom" width="700" height="30"
                                    x="569.625" y="323" fill="#888888"
                                    class="recharts-text recharts-cartesian-axis-tick-value tw-w-full" text-anchor="middle">
                                    <tspan x="569.625" dy="0.71em">Jun</tspan>
                                </text>
                            </g>
                            <g class="recharts-layer recharts-cartesian-axis-tick">
                                <text stroke="none" font-size="12" orientation="bottom" width="700" height="30"
                                    x="661.375" y="323" fill="#888888"
                                    class="recharts-text recharts-cartesian-axis-tick-value tw-w-full" text-anchor="middle">
                                    <tspan x="661.375" dy="0.71em">Jul</tspan>
                                </text>
                            </g>
                            <g class="recharts-layer recharts-cartesian-axis-tick">
                                <text stroke="none" font-size="12" orientation="bottom" width="700" height="30"
                                    x="753.125" y="323" fill="#888888"
                                    class="recharts-text recharts-cartesian-axis-tick-value tw-w-full" text-anchor="middle">
                                    <tspan x="753.125" dy="0.71em">Aug</tspan>
                                </text>
                            </g>
                            <g class="recharts-layer recharts-cartesian-axis-tick">
                                <text stroke="none" font-size="12" orientation="bottom" width="700" height="30"
                                    x="844.875" y="323" fill="#888888"
                                    class="recharts-text recharts-cartesian-axis-tick-value tw-w-full" text-anchor="middle">
                                    <tspan x="844.875" dy="0.71em">Sep</tspan>
                                </text>
                            </g>
                            <g class="recharts-layer recharts-cartesian-axis-tick">
                                <text stroke="none" font-size="12" orientation="bottom" width="700" height="30"
                                    x="936.625" y="323" fill="#888888"
                                    class="recharts-text recharts-cartesian-axis-tick-value tw-w-full" text-anchor="middle">
                                    <tspan x="936.625" dy="0.71em">Oct</tspan>
                                </text>
                            </g>
                            <g class="recharts-layer recharts-cartesian-axis-tick">
                                <text stroke="none" font-size="12" orientation="bottom" width="700" height="30"
                                    x="1028.375" y="323" fill="#888888"
                                    class="recharts-text recharts-cartesian-axis-tick-value tw-w-full" text-anchor="middle">
                                    <tspan x="1028.375" dy="0.71em">Nov</tspan>
                                </text>
                            </g>
                            <g class="recharts-layer recharts-cartesian-axis-tick">
                                <text stroke="none" font-size="12" orientation="bottom" width="700" height="30"
                                    x="1120.125" y="323" fill="#888888"
                                    class="recharts-text recharts-cartesian-axis-tick-value tw-w-full" text-anchor="middle">
                                    <tspan x="1120.125" dy="0.71em">Dec</tspan>
                                </text>
                            </g>
                        </g>
                    </g>
                    <g class="recharts-layer recharts-cartesian-axis recharts-yAxis yAxis">
                        <g class="recharts-cartesian-axis-ticks">
                            <g class="recharts-layer recharts-cartesian-axis-tick">
                                <text stroke="none" font-size="12" orientation="left" width="60" height="310" x="57"
                                    y="315" fill="#888888" class="recharts-text recharts-cartesian-axis-tick-value"
                                    text-anchor="end">
                                    <tspan x="57" dy="0.355em">$0</tspan>
                                </text>
                            </g>
                            <g class="recharts-layer recharts-cartesian-axis-tick">
                                <text stroke="none" font-size="12" orientation="left" width="60" height="310" x="57"
                                    y="237.5" fill="#888888" class="recharts-text recharts-cartesian-axis-tick-value"
                                    text-anchor="end">
                                    <tspan x="57" dy="0.355em">$1</tspan>
                                </text>
                            </g>
                            <g class="recharts-layer recharts-cartesian-axis-tick">
                                <text stroke="none" font-size="12" orientation="left" width="60" height="310" x="57"
                                    y="160" fill="#888888" class="recharts-text recharts-cartesian-axis-tick-value"
                                    text-anchor="end">
                                    <tspan x="57" dy="0.355em">$2</tspan>
                                </text>
                            </g>
                            <g class="recharts-layer recharts-cartesian-axis-tick">
                                <text stroke="none" font-size="12" orientation="left" width="60" height="310" x="57"
                                    y="82.5" fill="#888888" class="recharts-text recharts-cartesian-axis-tick-value"
                                    text-anchor="end">
                                    <tspan x="57" dy="0.355em">$3</tspan>
                                </text>
                            </g>
                            <g class="recharts-layer recharts-cartesian-axis-tick">
                                <text stroke="none" font-size="12" orientation="left" width="60" height="310" x="57"
                                    y="9" fill="#888888" class="recharts-text recharts-cartesian-axis-tick-value"
                                    text-anchor="end">
                                    <tspan x="57" dy="0.355em">$4</tspan>
                                </text>
                            </g>
                        </g>
                    </g>
                    <g class="recharts-layer recharts-bar">
                        <g class="recharts-layer recharts-bar-rectangles">
                            <g class="recharts-layer">
                                <g class="recharts-layer recharts-bar-rectangle"></g>
                                <g class="recharts-layer recharts-bar-rectangle"></g>
                                <g class="recharts-layer recharts-bar-rectangle"></g>
                                <g class="recharts-layer recharts-bar-rectangle"></g>
                                <g class="recharts-layer recharts-bar-rectangle"></g>
                                <g class="recharts-layer recharts-bar-rectangle"></g>
                                <g class="recharts-layer recharts-bar-rectangle"></g>
                                <g class="recharts-layer recharts-bar-rectangle"></g>
                                <g class="recharts-layer recharts-bar-rectangle"></g>
                                <g class="recharts-layer recharts-bar-rectangle"></g>
                                <g class="recharts-layer recharts-bar-rectangle"></g>
                                <g class="recharts-layer recharts-bar-rectangle"></g>
                            </g>
                        </g>
                        <g class="recharts-layer"></g>
                    </g>
                </svg>
            </div>
        </div>
    </div>
</div>