<section class="tw-flex tw-flex-col tw-gap-2 tw-w-[60px]">
    <button *ngFor="let productImage of productImages; let i = index" class="
        tw-flex 
        tw-justify-center 
        tw-items-center 
        tw-rounded-md
        tw-overflow-clip
        tw-aspect-square 
        tw-border
        tw-p-1
        tw-bg-gray-100
        tw-transition
        tw-duration-200
        active:tw-scale-95
        hover:tw-border-black
        hover:tw-outline
        hover:tw-outline-1
        hover:tw-outline-black
        " [ngClass]="{'tw-outline tw-outline-1 tw-outline-black tw-border-black': activeProductImage() === i}"
        (click)="handleSetActiveProductImage(i)">
        <img class="tw-w-full tw-h-full tw-object-contain tw-aspect-square tw-rounded-xl" [src]="productImage.url"
            alt="product_preview_control">
    </button>
</section>