<section class="tw-flex tw-flex-col tw-gap-2 tw-w-[60px]">
    <button class="
        tw-flex 
        tw-justify-center 
        tw-items-center 
        tw-rounded-md
        tw-overflow-clip
        tw-aspect-square 
        tw-border
        tw-bg-gray-100
        tw-transition
        tw-duration-200
        active:tw-scale-95
        hover:tw-border-black
        hover:tw-outline
        hover:tw-outline-1
        hover:tw-outline-black
        ">
        <img class="tw-w-full tw-h-full tw-object-contain tw-aspect-square tw-rounded-xl"
            src="https://res.cloudinary.com/dtqijixar/image/upload/v1691711281/Shoes_1_b0koqx.jpg"
            alt="product_preview_control">
    </button>
</section>