<section class="tw-flex tw-flex-col tw-flex-1 tw-w-full">
    <app-breadcrumb [title]="'Colors (' + colorsLength() + ')'"
        subtitle="Manage colors for your products"></app-breadcrumb>
    <app-table searchFilterLabel="colors" activeSortLabel="Name" [getData]="getColorsObservable"
        [dataResults]="colorsLength" [reloadDataEmitter]="colorsService.reloadDataEmitter"
        [formatDataFunction]="formatDataSource" [displayedColumns]="displayedColumns"
        emptyRegistersLabel="There are not colors"></app-table>
    <div class="tw-w-full tw-my-5">
        <app-api-routes label="Colors" entityName="colors" entityIdName="colorId">
        </app-api-routes>
    </div>
</section>