@tailwind base;
@tailwind components;
@tailwind utilities;
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "notyf/notyf.min.css";

html,
body {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Mayennesans";
    src: url("../src/assets/fonts/Mayenne-Sans.otf");
}

/* FormFiled */
.form-field .mat-mdc-text-field-wrapper {
    border-radius: 8px !important;
    background-color: white !important;
    @apply tw-border-2;
    @apply tw-border-neutral-300;
}

.form-field .mdc-text-field--focused {
    @apply tw-border-black;
}

.form-field .mdc-text-field--invalid {
    @apply tw-border-rose-600;
}

.form-field .mat-mdc-form-field-focus-overlay {
    display: none;
}

.form-field .mat-mdc-form-field-infix {
    min-height: 48px !important;
}

.form-field .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
    padding-top: 21px !important;
    padding-bottom: 0 !important;
}

.form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 25px;
    color: rgba(0, 13, 31, 0.8);
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #0068f0;
}

.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after,
.mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
    color: #0068f0;
}

.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full,
.mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-full {
    background-color: #0068f0 !important;
}

.form-field .mat-mdc-form-field-subscript-wrapper {
    height: 0;
}

.form-field div.mat-mdc-select-panel {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0.5rem /* 8px */ !important;
    border-bottom-left-radius: 0.5rem /* 8px */ !important;
}

.form-field .mat-mdc-select-panel-above div.mat-mdc-select-panel {
    border-top-left-radius: 0.5rem /* 8px */ !important;
    border-top-right-radius: 0.5rem /* 8px */ !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.form-field .mdc-line-ripple {
    display: none !important;
}

// Spinner
.mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle,
.mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: rgb(76 5 25) !important;
}

// Checkbox
.mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background {
    border-color: #0068f0 !important;
    background-color: #0068f0 !important;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled ~ .mdc-checkbox__background .mdc-checkbox__checkmark {
    color: white !important;
}

.mdc-checkbox:active .mdc-checkbox__native-control:checked ~ .mdc-checkbox__ripple {
    background-color: #0068f0 !important;
}

// Chips
.mdc-evolution-chip__action {
    padding: 0 24px !important;
}

.mdc-evolution-chip__graphic {
    display: none !important;
}

.mat-mdc-standard-chip.mat-mdc-chip-selected {
    background-color: black !important;

    .color-checked {
        display: block !important;
    }
}

/* Structure */
.mat-sort-header-content {
    text-align: left !important;
}

.mat-mdc-table .mdc-data-table__row {
    height: 60px !important;
}

/* Form Field */
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: rgb(76 5 25) !important;
}

.mat-mdc-text-field-wrapper {
    border-radius: 8px !important;
    overflow: hidden;
}

.mat-mdc-form-field-has-icon-prefix .mat-mdc-text-field-wrapper {
    padding-left: 16px !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom-color: rgba(0, 0, 0, 0.2);
}

.mdc-text-field--filled:not(.mdc-text-field--disabled):hover .mdc-line-ripple::before {
    border-bottom-color: rgba(0, 0, 0, 0.5);
}

.mat-mdc-form-field-focus-overlay {
    opacity: 0 !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: black;
}

// Table Scrollbar
.table-container::-webkit-scrollbar{
    background-color: whitesmoke;
}

// Table Cell
.mat-mdc-header-cell,
.mat-mdc-footer-cell,
.mat-mdc-cell {
    min-width: 100px;
    position: relative;
}

.mat-mdc-table-sticky-border-elem-top {
    &::before {
        content: "";
        height: 100%;
        border-left: 1px solid rgba(0, 0, 0, 0.12);
        width: 1px;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.mat-mdc-table-sticky-border-elem-right {
    &::before {
        content: "";
        height: 100%;
        border-left: 1px solid rgba(0, 0, 0, 0.12);
        width: 1px;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.mat-mdc-table-sticky-border-elem-bottom {
    &::before {
        content: "";
        height: 100%;
        border-left: 1px solid rgba(0, 0, 0, 0.12);
        width: 1px;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.mat-mdc-table-sticky-border-elem-left {
    &::before {
        content: "";
        height: 100%;
        border-left: 1px solid rgba(0, 0, 0, 0.12);
        width: 1px;
        position: absolute;
        left: 0;
        top: 0;
    }
}

// Paginator
.mdc-notched-outline {
    border: 1px solid rgba(0, 0, 0, 0.38);
    border-radius: 8px;
}

.mat-mdc-text-field-wrapper:hover .mdc-notched-outline,
.mdc-text-field--focused .mdc-notched-outline {
    border-color: black;
}

.mdc-text-field--focused .mdc-notched-outline {
    border-width: 2px;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
    border: none;
}

@media not all and (min-width: 640px) {
    .mat-mdc-paginator-container {
        justify-content: center !important;
        padding-bottom: 0.5rem !important;
    }
}
