<div class="tw-flex tw-flex-1 tw-h-max tw-w-full tw-pt-36 tw-pb-16 tw-bg-red-100">
    <app-container class="tw-w-full">
        <div class="tw-w-full tw-flex max-md:tw-flex-col max-md:tw-gap-4">
            <div class="
                tw-flex 
                tw-flex-col 
                tw-w-3/6 
                tw-gap-4 
                tw-pr-16 
                max-md:tw-w-full 
                max-md:tw-text-center
                max-md:tw-p-0">
                <h1 class="
                        tw-text-6xl 
                        tw-w-full 
                        tw-font-extrabold 
                        tw-leading-tight 
                        tw-text-red-900 
                        tw-font-mayennesans
                        max-md:tw-text-4xl
                        max-lg:tw-text-5xl">
                    {{billboard.label}}
                </h1>
                <p class="tw-text-lg tw-text-red-950">
                    {{billboard.description}}
                </p>
            </div>
            <div class="tw-flex tw-justify-center flex-1 tw-items-end">
                <div class="
                    tw-rounded-tl-[80px] 
                    tw-rounded-tr-[30px] 
                    tw-rounded-br-[80px] 
                    tw-rounded-bl-[50px] 
                    tw-ml-auto 
                    tw-h-[400px] 
                    max-md:tw-h-auto
                    tw-w-full
                    tw-overflow-clip">
                    <img class="
                        tw-h-full 
                        max-md:tw-h-auto
                        tw-w-full 
                        tw-object-cover 
                        tw-object-bottom 
                        tw-transition 
                        tw-duration-500 
                        hover:tw-scale-105
                        tw-origin-bottom
                        trans
                        tw-drop-shadow-lg" [src]="billboard.image.url" alt="billboard_img">
                </div>
            </div>
        </div>
    </app-container>
</div>