<div class="tw-grid tw-grid-cols-[repeat(auto-fill,minmax(70px,1fr))] tw-gap-1">
    <label class="
        tw-h-12
        tw-flex 
        tw-justify-center 
        tw-items-center 
        tw-rounded-md
        tw-overflow-clip
        tw-border
        tw-transition
        tw-duration-200
        active:tw-scale-95
        hover:tw-border-black
        hover:tw-outline
        hover:tw-outline-1
        hover:tw-outline-black
        "
        [ngClass]="{'tw-bg-black tw-text-white': formGroupRef.get(formControlName)?.value === size.id}"
        *ngFor="let size of sizes" (click)="handleSetSelectedSize(size.id!, $event)">
        <input class="tw-hidden" type="radio" [value]="size.id"
            [formControl]="formGroupRef.get(formControlName)! | formControlPipe">
        <span class="tw-font-normal">{{size.value}}</span>
    </label>
</div>