<section class="tw-flex tw-flex-col tw-flex-1 tw-w-full">
    <app-breadcrumb title="Sizes (0)" subtitle="Manage sizes for your products"></app-breadcrumb>
    <app-table searchFilterLabel="sizes" activeSortLabel="Name" [getData]="getSizesObservable"
        [reloadDataEmitter]="sizeService.reloadDataEmitter" observableResponsePropertyname="sizes"
        [formatDataFunction]="formatDataSource" [displayedColumns]="displayedColumns"
        emptyRegistersLabel="There are not sizes"></app-table>
    <div class="tw-w-full tw-my-5">
        <app-api-routes label="Sizes"></app-api-routes>
    </div>
</section>