<div
    class="tw-flex tw-flex-col tw-rounded-lg tw-bg-gray-50 tw-px-4 tw-py-6 sm:tw-p-6 tw-w-full lg:tw-mt-0 lg:tw-p-8 tw-h-[400px]">
    <h2 class="tw-text-lg tw-font-medium tw-text-gray-900">Order summary</h2>
    <div class="tw-mt-6 tw-space-y-4">
        <div class="tw-flex tw-items-center tw-justify-between tw-border-t tw-border-gray-200 tw-pt-4">
            <div class="tw-text-base tw-font-medium tw-text-gray-600">No. Products</div>
            <p>{{orderTotalProducts()}}</p>
        </div>
        <div class="tw-flex tw-items-center tw-justify-between tw-pt-4">
            <div class="tw-text-base tw-font-medium tw-text-gray-600">Order total</div>
            <div class="tw-font-semibold">{{orderTotal() | formatPrice}}</div>
        </div>
    </div>
    <div class="tw-mt-auto" [ngClass]="{'tw-cursor-not-allowed': !order()}">
        <app-button label="Checkout" customClasses="!tw-bg-black tw-h-14 tw-font-semibold"
            [disabled]="!order() || orderTotalProducts() === 0 || isLoading" [isLoading]="isLoading"
            [onClick]="handleCheckOut" />
    </div>
</div>